body {
	background-color: #37474F;
	/*background-image: url("pics/background.jpg");
	background-size: cover;*/
	color: #FAFAFA;
	font-family: Roboto, sans-serif;;
	font-size: 75px;
}

div {
	border: 3px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	//border: 3px solid blue;
	font-size: 55px;
	color: #FBC02D;
	//-webkit-text-stroke: 2px #DD2C00;
}

h3 {
	//border: 3px solid green;
	font-size: xx-large;
	margin: 0;
}

.button-clicked {
  background-color: #424242;
}

.mouseover {
	transform: translateY(-10px);
	box-shadow: 10px 0px 25px;
	cursor: pointer;
}

#instructions {
	height: 75px;
}

#header {
	background-color: #263238;
}

#buttons {
	height: 275px;
	gap: 75px;
	padding: none;
}

button {
	background-color: rgba(0, 0, 0, 0.01);
	border: 5px solid black;
	border-radius: 35px;
	font-size: 110px;
	width: 175px;
	height: 175px;
	box-shadow: 10px 10px 25px;
	transform: rotate(-90deg);
}

#results {
	gap: 80px; 
}

#outcome {
	font-size: 35px;
	padding: 20px;
	height: 75px;
}

#bottom {
	position: relative;
	height: 23vh;
}

#footer {
	background-color: #263238;
	font-size: medium;
	position: absolute;
	bottom: 0;
	width: 100%;
}